// Fonts
$primary-font: "Source Sans Pro", 'Arial', sans-serif;
$secondary-font: 'Lato', 'Arial', sans-serif;

// Colors
$primary: coral;
$white: #fff;
$black: #000;



/*  Resolution Break Points */
$screen-mobile-min: 375px;
$screen-mobile-min-plus: 425px;
$screen-tablet-min: 768px;
$screen-desktop-min: 992px;