<button mat-fab aria-label="Create a Post" (click)="createPost()" >
  <mat-icon>create</mat-icon>
</button>
<div *ngIf="showCreatePostForm">
  <app-add-edit-post (submitPost)="onSubmitPost($event)"></app-add-edit-post>
</div>
<div class="posts-list">
  <a class="post" *ngFor="let post of posts" routerLink="/posts/{{post.id}}">
    <div class="post-background" [ngStyle]="{'background-image':'url(' + post.image + ')'}" >
        <div class="post-content">
          <h3>{{ post.title }}</h3>
          <div class="count">{{ post.comments.length }} {{post.comments.length === 1? 'Comment' : 'Comments'}}<i class="fas fa-plus"></i> <i class="fa fa-comments-o"></i> <i class="fas fa-comments"></i> </div>
          <div class="description">{{ post.shortDescription }}</div>
          <div class="postinfo">{{post.category}} <span>{{post.publishedDate | date}}</span> </div>
        </div>
    </div>
  </a>
</div>
