<button mat-fab aria-label="Create a Post" (click)="showPostModal()" >
  <mat-icon>edit</mat-icon>
</button>

<div class="filters">
  <mat-button-toggle-group #group="matButtonToggleGroup" name="category" aria-label="Category" [value]="selectedCategory" (change)="onValChange(group.value)">
    <mat-button-toggle value="All" class="filter-button">All</mat-button-toggle>
    <mat-button-toggle *ngFor="let category of categories" [value]="category" class="filter-button">
      <span class="filter-button-text">{{category}}</span>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div class="posts-list">
  <app-post
    class="post-item"
    *ngFor="let post of posts | filterPost:selectedCategory"
    [post]="post"
    (delete)="deletePost(post)"
    (edit)="showPostModal(post)">
  </app-post>
</div>
