@import '../shared/styles/variables';
.mat-fab {
  position: fixed;
  top: 145px;
  right: 20px;
  z-index: 1;
  &.mat-accent {
    background-color: $primary;
  }
}

.posts-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  .post-item {
    width: 50%;
  }
}

.filters {
  text-align: center;
  margin: 10px 0 20px;
  .filter-button {
    min-width: 90px;
    .filter-button-text {
      text-transform: capitalize;
    }
  }
}
