@import './../shared/styles/variables';

.post-detail {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 60px;
  background-color: rgba($gray, 0.1);
  .hero-banner {
    min-height: 540px;
    width: 100%;
    padding: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0 0 1000px rgba($black, 0.4) inset;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $white;
    position: relative;
    .mat-stroked-button {
      position: absolute;
      font-size: 1.6rem;
      top: 20px;
      left: 10px;
    }
    .title {
      color: $white;
      font-size: 6.4rem;
    }
  }
  .body {
    width: 80%;
    .description {
      font-size: 3.4rem;
    }
  }

  .comments-container {
    width: 600px;
    margin: 0 auto;
    .comments-title {
      font-size: 2.5rem;
    }
    .comment-item {
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 20px;
      display: flex;
      background-color: $white;
      box-shadow: 0 1px 4px rgba($black,.04);
      border: 1px solid rgba($black,.09);
      .icon {
        .material-icons {
          font-size: 40px;
        }
      }
      .comment-item-content {
        margin-left: 10px;
        .author {
          font-weight: 600;
          font-size: 2.5rem;
          margin-bottom: 10px;
        }
        .comment {
          font-size: 2rem;
        }
      }
    }
    .comment-form {
      .field-full-width {
        width: 100%;
        margin-top: 20px;
        font-size: 1.8rem;
      }
    }
  }

  @media screen and (max-width: $screen-mobile-max) {
    .comments-container {
      width: 90%;
    }
  }
}
