<div class="post-detail" *ngIf="post">
  <div class="hero-banner" [ngStyle]="{'background-image':'url(' + post.image + ')'}">
    <a routerLink="/posts" mat-stroked-button>
      <mat-icon aria-label="Back to all posts">chevron_left</mat-icon> <span> View Posts </span>
    </a>
    <h2 class="title">
      {{ post.title }}
    </h2>
  </div>
  <div class="body">
    <p class="description" [innerHTML]="post.description"></p>
  </div>
  <div class="comments-container">
    <h4 class="comments-title">Comments</h4>
    <div class="comment-item" *ngFor="let comment of post.comments" >
      <div class="icon">
        <i class="material-icons">account_circle</i>
      </div>
      <div class="comment-item-content">
        <div class="author">{{comment.author}}</div>
        <div class="comment">{{comment.content}}</div>
      </div>
    </div>
    <form [formGroup]="form" class="comment-form" (ngSubmit)="onSubmit()">
      <mat-form-field class="field-full-width">
        <textarea matInput placeholder="Write a comment" formControlName="comment"></textarea>
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit">Add</button>
    </form>
  </div>
</div>
